@model RetroConsoleStoreDotDomain.Model.User.OTPRequest
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Two-Factor Authentication | RetroConsoleStore";
}
<div class="contact-container">
    <h2 class="retro-font-pixel">Two-Factor Authentication</h2>
    <div class="famicom-controller-ports">
        <span></span>
        <span></span>
    </div>
    @if (ViewBag.message != null)
    {
        <div class="message-box retro-font-8bit">@ViewBag.message</div>
    }
    <p class="retro-font-8bit" style="color: #ffcc33; text-align: center;">A code has been sent to <b>@Model.email</b>.<br />Enter it below to confirm your password change.</p>
    @using (Html.BeginForm("TwoFactorPage", "User", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.code)
        @Html.HiddenFor(m => m.password)
        @Html.HiddenFor(m => m.status)
        <div>
            <label for="inputCode">2FA Code</label>
            <input type="text" name="inputCode" id="inputCode" required placeholder="Enter 2FA code" maxlength="6" />
        </div>
        <div class="button-container">
            <button type="submit" class="retro-font-8bit">Verify</button>
        </div>
    }
    <div class="famicom-cartridge-slot"></div>
    <p class="retro-font-8bit" style="margin-top: 20px;">
        <a href="@Url.Action("UserPage", "User")" style="color: #ffcc33;">Back to Profile</a>
    </p>
</div> 