@model RetroConsoleStoreDotDomain.Model.Misc.ContactMSG
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact Us | RetroConsoleStore";
}

<div class="catalogue-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center mb-5">
                <h1 class="retro-font-pixel">Contact Us</h1>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="catalogue-content">
                    <div class="famicom-controller-ports">
                        <span></span>
                        <span></span>
                    </div>
                    
                    <div class="contact-form-wrapper">
                        @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div>
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new { @placeholder = "Your name here...", @class = "form-control", required = "required" })
                            </div>
                            <div>
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @type = "email", @placeholder = "your@email.com", @class = "form-control", required = "required" })
                            </div>
                            <div>
                                @Html.LabelFor(m => m.message, "Message")
                                @Html.TextAreaFor(m => m.message, new { @placeholder = "Type your message here...", @class = "form-control", required = "required" })
                            </div>
                            <div class="button-container">
                                <button type="submit">Send Message</button>
                            </div>
                        }
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-info mt-3">@ViewBag.Message</div>
                        }
                    </div>
                    
                    <div class="famicom-cartridge-slot"></div>
                </div>
            </div>
        </div>
    </div>
</div>
