<footer class="retro-footer py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <h5 class="footer-heading">About Us</h5>
                <p class="footer-text">
                    RetroConsoleStore<br />
                    Your destination for classic gaming nostalgia.<br />
                    Rediscover the magic of retro consoles.
                </p>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <h5 class="footer-heading">Quick Links</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Catalogue", "Home")">Catalogue</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5 class="footer-heading">Contact</h5>
                <ul class="list-unstyled footer-links">
                    <li>Email: <a href="mailto:info@retroconsolestore.com">info@retroconsolestore.com</a></li>
                    <li>Phone: <a href="tel:+1234567890">+1 234 567 890</a></li>
                    <li>Address: 123 Gaming Street, Retro City</li>
                </ul>
            </div>
        </div>

        <hr class="footer-divider my-4">

        <div class="text-center">
            <p class="mb-0 copyright">&copy; @DateTime.Now.Year RetroConsoleStore. All rights reserved.</p>
        </div>
    </div>
</footer>
