<div class="container">
    <a class="navbar-brand retro-font-pixel" href="@Url.Action("Index","Home")">RetroConsoleStore</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li><a class="nav-link" href="@Url.Action("Catalog","Item")">Catalogue</a></li>
            <li><a class="nav-link" href="@Url.Action("About","Home")">About</a></li>
            <li><a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a></li>
            <li><a class="nav-link" href="@Url.Action("Auth","Auth")">Register</a></li>
            @if ((string)Session["LoginStatus"] == "login")
            {
                <li>
                    <a class="nav-link" href="@Url.Action("Logout", "Auth")">Logout</a>
                </li>
            }
            @if ((string)Session["LoginStatus"] != "login")
            {
                <li><a class="nav-link" href="@Url.Action("Login","Auth")">Login</a></li>
            }
            
        </ul>

        <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
            <li>
                <a class="nav-link" href="@Url.Action("UserPage","User")">
                    @{
                        var user = System.Web.HttpContext.Current.Session["__SessionObject"] as RetroConsoleStoreDotDomain.Model.User.UserSmall;
                        if (user != null && !string.IsNullOrEmpty(user.ImagePath))
                        {
                            <img src="@Url.Content(user.ImagePath)" alt="Profile" style="width:36px;height:36px;border-radius:50%;object-fit:cover;border:2px solid #e6007e;" />
                        }
                        else
                        {
                            <img src="/Content/images/user.svg" alt="User" style="width:36px;height:36px;border-radius:50%;background:#2a1144;border:2px solid #e6007e;" />
                        }
                    }
                </a>
        <li><a class="nav-link" href="@Url.Action("Cart","User")"><img src="/Content/images/cart.svg"></a></li>
        </ul>
    </div>
</div>
