<div class="container">
    <a class="navbar-brand .retro-font" href="@Url.Action("Index","Home")">RetroConsoleStore</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsFurni">
        <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li><a class="nav-link" href="@Url.Action("Catalogue","Home")">Catalogue</a></li>
            <li><a class="nav-link" href="@Url.Action("About","Home")">About</a></li>
            <li><a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a></li>
            <li><a class="nav-link" href="@Url.Action("Auth","Auth")">Register</a></li>
            <li><a class="nav-link" href="@Url.Action("Login","Auth")">Login</a></li>
        </ul>

        <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
            <li><a class="nav-link" href="@Url.Action("UserPage","User")"><img src="/Content/images/user.svg"></a></li>
            <li><a class="nav-link" href="@Url.Action("Cart","User")"><img src="/Content/images/cart.svg"></a></li>
        </ul>
    </div>
</div>
